{% extends "template.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <main class="scrollable-content">
        <h1>Профессия <span>{{ content.vacancy_name }}</span></h1>
        <h3>Описание профессии</h3>
        <section>
            <img src="{{ content.image.url }}" width="300" height="300" alt="Изображение '{{ content.vacancy_name }}'">
            <div class="description-wrapper">
                <p>{{ content.description|linebreaks }}</p>
            </div>
        </section>
    </main>
{% endblock %}