{% extends "template.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <main>
        <h1>Профессия <span>"{{ content.vacancy_name }}"</span></h1>
        <h2>Описание профессии</h2>
        <section>
            <img src="{{ content.image.url }}" style="max-width: 300px; height: auto;" alt="Изображение '{{ content.vacancy_name }}'">
            <div class="description-wrapper">
                <p>{{ content.description|safe }}</p>
            </div>
        </section>
    </main>
{% endblock %}