{% extends "template.html" %}

{% block title %}Последние вакансии{% endblock %}

{% block content %}
    <main>
        <h1>Профессия <span>"{{ vacancy_name }}"</span></h1>
        <h2>Вакансии, выложенные на <a href="https://hh.ru">HH.ru</a> за последние 24 часа ({{ recent_vacs|length }})</h2>

        {% for recent_vac in recent_vacs %}
        	<section class="vacancy-section">
                <h3>{{ recent_vac.name }}</h3>

                <p><b><em>Компания:</em></b> {{ recent_vac.employer }}</p>
                <p><b><em>Оклад:</em></b> {{ recent_vac.salary }}</p>
                <p><b><em>Регион:</em></b> {{ recent_vac.area_name }}</p>
                <p><b><em>Дата публикации:</em></b> {{ recent_vac.published_at }}</p>
                <p><b><em>Навыки:</em></b> {{ recent_vac.key_skills }}</p>

                <p><b><em>Описание:</em></b></p>
                <div>{{ recent_vac.description|safe }}</div>
            </section>
        {% endfor %}

    </main>
{% endblock %}