{% extends "template.html" %}
{% load static %}

{% block title %}Навыки{% endblock %}

{% block content %}
    <main>
        <h1>Профессия <span>"{{ vacancy_name }}"</span></h1>
        <h2>Топ-20 навыков за всё время по годам</h2>
        <p class="clue">(Наведите курсор на таблицу/диаграмму, чтобы узнать больше информации)</p>

        <section>
            <div class="image-table-wrapper">
                <div class="tooltip-container">
                    {{ top_20_key_skills_by_year.table_data|safe }}
                    <p class="tooltip-text">Топ-20 самых высокочастотных навыков за всё время</p>
                </div>
                <div class="tooltip-container">
                    <img class="block-image tooltip" src="{{ top_20_key_skills_by_year.image.url }}" width="640" height="480" alt="График 'Топ-20 навыков по годам. Наиболее высокочастотные навыки'">
                    <p class="tooltip-text">Распределение самых высокочастотных навыков за всё время для каждого года</p>
                </div>
            </div>
        </section>

    </main>
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static "js/tooltip.js" %}"></script>
{% endblock %}