* {
    scrollbar-width: thin;
    scrollbar-color: #4D4C49 #a1b3be;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Segoe UI", system-ui, sans-serif;
    font-weight: 400;
    line-height: 15px;
    font-size: 20px;
    color: #4D4C49;
    background-color: #a1b3be;
}
section {
    margin-bottom: 60px;
}
h1 {
    margin-left: 70px;
    margin-top: 60px;
    margin-bottom: 50px;
}
h2 {
    margin-left: 70px;
    margin-bottom: 40px;
}
h3 {
    margin-left: 90px;
    margin-bottom: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
table {
    font-size: 16px;
    border: 1px solid #4D4C49;
    border-collapse: collapse;
}
th {
    padding: 3px 10px;
    border: 1px solid #4D4C49;
    border-collapse: collapse;
}
td {
    padding: 3px 10px;
    border: 1px solid #4D4C49;
    text-align: right;
    border-collapse: collapse;
}
p {
    margin-right: 100px;
}
.td-text {
    text-align: left;
}


/* header styles */
header {
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
    height: 10%;
    width: 330px;
    border-radius: 0 0 50px 0;
    background-color: #4D4C49;
}
header a {
    margin-left: 55px;
}
header span {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: oblique;
    font-size: 35px;
    display: inline-block;
    color: #a1b3be;
}


/* aside styles */
aside {
    position: fixed;
    top: 12%;
    left: 0;
    height: 76%;
    width: 330px;
    border-radius: 0 50px 50px 0;
    background-color: #4D4C49;
}

.main-menu__items {
    margin-top: 33px;
}

.main-menu__item {
    margin: 0 0 12px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 50px 0 0 50px;
}
.main-menu__item:hover {
    background-color: #a1b3be;
}
.main-menu__item:hover img {
    filter: invert(30%) sepia(8%) saturate(196%) hue-rotate(7deg) brightness(92%) contrast(92%);
}
.main-menu__item:hover span {
    color: #4D4C49;
}
.main-menu__item:active {
    background-color: rgba(161, 179, 190, 0.58);
}

.main-menu__link {
    display: flex;
    align-items: center;
    gap: 12px;

    width: 280px;
    height: 100%;
    padding: 20px 10px 20px 30px;
}

.main-menu__link.active {
    background-color: #a1b3be;
    border-radius: 50px 0 0 50px;
}
.main-menu__link.active:active {
    background-color: rgba(161, 179, 190, 0.58);
}
.main-menu__link.active img {
    filter: invert(30%) sepia(8%) saturate(196%) hue-rotate(7deg) brightness(92%) contrast(92%);
}
.main-menu__link.active span {
    color: #4D4C49;
}

.main-menu__link img {
    filter: invert(76%) sepia(3%) saturate(1448%) hue-rotate(159deg) brightness(96%) contrast(80%);
}
.main-menu__link span {
    color: #a1b3be;
    font-weight: 700;
}


/* main styles */
main {
    margin: 0 0 0 400px;
}


/* footer styles */
footer {
    position: fixed;
    top: 90%;
    left: 0;
    height: 10%;
    width: 330px;
    border-radius: 0 50px 0 0;
    background-color: #4D4C49;
    color: #a1b3be;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.main-footer__container {
    font-size: 16px;
    font-weight: 700;
    margin: 5px 0 5px 30px;
}


/* index.html */
.description-wrapper p {
    font-size: 16px;
    margin-left: 70px;
    width: 75%;
    height: 50%;
    line-height: 25px;
}


/* general-statistics.html */
.block-image {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.image-table-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: left;
}
